################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/simple-ioc/.vs/simple-ioc/v15
/simple-ioc/Debug
/simple-ioc/simple-ioc/Debug
/simple-ioc/.vs/simple_ioc/v15
